Package: com.iter99.nhaccuatuivip
Name: Nhaccuatui VIP
Depends: mobilesubstrate
Version: 1.3
Architecture: iphoneos-arm
Description: Enable Nhaccuatui VIP.
Maintainer: iTer99 <hoan.nguyen.16999@gmail.com>
Author: iTer99 <hoan.nguyen.16999@gmail.com>
Section: Tweaks
